<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/ericjuta/" target="_blank">@ericjuta</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/rej156/" target="_blank">@rej156</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/ericjuta" target="_blank">linkedin.com/in/ericjuta</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://rej156.svbtle.com/" target="_blank">rej156.svbtle.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:ericjohnjuta@gmail.com" target="_blank">ericjohnjuta@gmail.com</a></p>
